.ring-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
     /* Initial color */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-column {
    overflow-y: auto;
  }

  ListGroup{
    background-color: aqua;
  }

    /* .list-group-item {
        background-color: aqua;
    } */